
body{
    background: url("../images/abstract-blue-background-free-vector.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: black;
    opacity: 0.8;
}

.link-list {
    display: flex;
    list-style: none;
}

.link {
    color: #ffffff;
    text-decoration: none;
    font-size: 5vh;
    margin: 8vh;
    font-weight: bold;
}

.link:hover {
    border-bottom: 5px solid lightblue;
}

.container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    border-radius: 10px;
    width: 55%;
    margin: 50px auto 0 auto;
    margin-bottom: 10vh;
    padding-bottom: 5vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #11567e;
    font-size: 7vh;
    margin-top: 10px;
}

.fonte{
    font-size: 23px;
    padding-left: 50px;
    padding-right: 50px;
}

.tabela {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse; /* junta as bordas */
    margin-left: auto;
    margin-right: auto;
    font-size: 20px; 
}

.tabela th, .tabela td {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
}

.btn-est {
    text-align: center;
}

.btn {
    display: inline;
    padding: 10px 20px;
    background: #150cc5;
    color: #ffffff;
    border-radius: 18px;
    text-decoration: none;
    font-size:3vh;
    font-weight: bold;
}

.btn:hover {
    opacity: 1;
    background: #6ea7ed;
}

.btn-voltar {
    position: absolute;
    right: 3vh;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 8px;
    text-decoration: none;
    font-size: 5vh;
    opacity: 0.8;
    padding: 0px 10px;
}

.btn-voltar:hover {
    opacity: 0.8;
    background: lightblue;
    color: black;
}

.center{
    text-align: center;
    font-size: 23px;
    padding-left: 50px;
    padding-right: 50px;
}